<%- include("./partials/header") %> <%- include("./partials/navbar") %> <%
for(let software of modifiesSoftware) {%>
<div class="container">
  <h3>
    <a
      href="/<%= software.newCategory %>/<%= software.newName %>/<%= software._id %>"
      ><%= software.name %></a
    >
  </h3>
</div>

<% } %> <%- include("./partials/footer") %>
